.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.totalPrice {
    padding: 0 15px 20px;
}

.box {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}